* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
/* Shortcut */
.black {
  color: black;
}
/* NAVBAR */

.sony {
  justify-content: flex-end;
  align-items: center;
  min-height: 30px;
  width: 100%;
  background-color: black;
  display: flex;
}
#sony {
  height: 20px;
  max-width: 100%;
}
#play {
  height: 60px;
}
#chevron {
  height: 15px;
}
.realnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Header */
.jumbo {
  min-height: 750px;
  width: 100%;
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: fill;
  background-color: black;
  background-position-y: 100px;
}
#returnalogo {
  height: 50px;
  width: 300px;
}
h1 {
  color: white;
}
p {
  color: white;
  font-size: 20px;
}
.insider {
  width: 570px;
}
.buy {
  background-color: orangered;
  color: white;
}
