* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
/* Shortcut */
.black {
  color: black;
}
/* NAVBAR */

.sony {
  justify-content: flex-end;
  align-items: center;
  min-height: 30px;
  width: 100%;
  background-color: black;
  display: flex;
}
a {
  gap: 7px;
}
#sony {
  height: 20px;
  max-width: 100%;
}
#play {
  height: 60px;
}
.chevron {
  height: 15px;
}

.realnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

/* Header */
.jumbo {
  min-height: 750px;
  width: 100%;
  background-image: url(../img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: black;
  background-position-y: 100px;
}
#returnalogo {
  height: 50px;
  width: 300px;
}
h1 {
  color: white;
}
p {
  color: white;
  font-size: 20px;
}
.insider {
  max-width: 570px;
}
.buy {
  background-color: orangered;
  color: white;
}
/* cards */
.carta {
  height: 130px;
  margin-top: 1.5rem;
  padding-right: 10px;
  padding-left: 20px;
}

.imgcards {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: transform 0.2s;
}

.imgcards:hover {
  border: solid white;
  transform: scale(1.1);
  outline: solid blue;
}
.separatore {
  margin-bottom: 120px;
}
/* Introduction */

@media only screen and (min-width: 768px) {
  .media {
    margin-bottom: 100px;
  }
  .imgcontainer {
    margin: auto;
  }
  .resize {
    max-width: 60%;
    left: 27px;
    position: relative;
    max-height: 60%;
  }
  .insider {
    min-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .media {
    margin-bottom: 50px;
  }
  .resize {
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .resize {
    max-width: 100%;
    max-height: 100%;
  }
  .desized {
    position: static;
  }
  .imgcontainer {
    min-height: 230px;
  }
}

.imgcontainer {
  height: 170px;
  width: 160px;
  margin-bottom: 40px;
}
.imgcard {
  border-radius: 20px;
  transition: transform 0.2s;
}

.selected {
  border-bottom: solid blue;
}

.notselected {
  opacity: 75%;
}
.notselected:hover {
  border-bottom: solid blue;
  opacity: 100%;
  transition: all 0.1s ease-in-out;
}
/* SECOND JUMBO */
.jumbo2 {
  min-height: 750px;
  width: 100%;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-color: black;
}
#takestwologo {
  height: 280px;
}
.titolo {
  font-size: 45px;
}
/* Nuove USCITE */
.nuoveuscite {
  background-color: rgba(31, 31, 31);
}

.gamecontainer {
  min-height: 230px;
}

.gamecard {
  height: 85%;
  border-radius: 20px;
  width: 100%;
  padding-top: 40px;
}

/* Console */
.titolo2 {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.consolecard {
  height: 85%;
  border-radius: 20px;

  padding-top: 40px;
}
.paddingrow {
  padding: 72px;
}
/* PLAYPLUS */
.playplus {
  background-color: rgba(190, 188, 187);
}
#pluslogo {
  height: 90px;
  margin-top: 30px;
  margin-bottom: 35px;
}
.btncustom {
  color: rgba(54, 106, 229);
  background-color: rgba(217, 218, 220);
  margin-bottom: 30px;
}
.nowimg,
.plusimg {
  height: 100%;
  width: 100%;
}
/* Second layout SCONTI*/
.notrounded {
  border-radius: 0;
}

/* NOW */

.now {
  background-color: rgba(22, 28, 59);
}
