* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}
/* Shortcut */
.black {
  color: black;
}
/* NAVBAR */

.sony {
  justify-content: flex-end;
  align-items: center;
  min-height: 30px;
  width: 100%;
  background-color: black;
  display: flex;
}
#sony {
  height: 20px;
  max-width: 100%;
}
#play {
  height: 60px;
}
#chevron {
  height: 15px;
}
.realnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
